body {
    margin: 0;
    padding: 0;
    
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    text-transform: uppercase;
    
    background-color: #f2f2f2;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

a {
    text-decoration: none;
}

img {
   max-width: 100%;
   height: auto;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.main-menu {
    position: relative;
    
    background-color: #ffffff;
}

.main-menu a {
    font-weight: bold;
    color: #000000;
}

.main-menu a:hover,
.main-menu a:focus {
    color: #81b3d2;
}

.main-menu a:active {
    color: rgba(0, 0, 0, 0.3);
}

.main-menu .logo {
    position: absolute;
    left: 50%;
    right: 50%;
    top: 0;
    transform: translateX(-50%);
}

.main-menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    margin: 0;
    padding: 0 72px;
    list-style: none;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
}

.heading {
    margin-bottom: 58px;
    height: 508px;
    text-align: center;
    background-color: #eeeeee;
    background-image: url("../img/intro-mask.svg"), url("../img/background.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: 0px 451px, 50% 21%;
}

.heading .welcome {
    margin-top: 75px;
}

.city {
    padding-left: 355px;
    padding-right: 355px;
    margin-bottom: 52px;
    text-align: center;
}

.city h2 {
    margin-bottom: 30px;
    font-size: 21px;
}

.city p {
    color: #333333;
}

.reasons {
    margin-bottom: 50px;
    line-height: 21px;
    text-align: center;
}

.reasons section {
    display: flex;
    flex-wrap: wrap;
}

.reasons h3 {
    margin: 0;
    margin-bottom: 20px;
    padding-top: 45px;
    padding-left: 122px;
    padding-right: 122px;
    font-weight: bold;
    font-size: 21px;
}

.reasons p {
    padding: 4px 57px;
    
    color: #333333;
}

.reason-1,
.reason-2 {
    max-height: 256px;
    max-width: 400px;
    
    color: #ffffff;
    background-color: #81b3d2;
    
}

.reason-1 p,
.reason-2 p {
    color: #ffffff;
}

.hotels-food div {
    position: relative;
    min-height: 324px;
    max-width: 400px;
}

.hotels-food h3 {
    padding-top: 155px;
} 

.reason-hotels h3::before,
.reason-food h3::before,
.reason-souvenir h3::before {
    content: "";
    position: absolute;
    left: 163px;
    top: 53px;
    width: 75px;
    height: 76px;
    background-image: url("../img/icon-1.svg");
    background-repeat: no-repeat;
}

.reason-food h3::before {
    background-image: url("../img/icon-3.svg");
}

.reason-souvenir h3::before {
    left: 167px;
    top: 48px;
    background-image: url("../img/icon-2.svg");
}

.tourism div {
    min-height: 256px;
    max-width: 400px;
    
    background-color: #eeeeee; 
}

.bridge div {
    max-height: 256px;
}

.search-hotel {
    text-align: center;
}

.search-hotel b {
    margin-bottom: 35px;
    font-size: 30px;
    line-height: 36px;
}

.search-hotel p {
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 45px;
    line-height: 24px;
    color: #333333;
}

.search-hotel .search {
    width: 568px;
    height: 86px;
    font-size: 21px;
    font-weight: bold;
    text-transform: inherit;
    color: #ffffff;
    background-color: #766357;
    border: none;
}

.search-hotel .search:hover,
.search-hotel .search:focus {
    background-color: #604e43;
}

.search-hotel .search:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}

.map {
    position: relative;
    z-index: 1;
}

.map-frame {
    width: 1200px;
    height: 593px;
    border: 0;
}

.transparent {
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0.9;
}

.footer-nav {
    height: 128px;
    background-color: #ffffff;
  
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
    padding-left: 132px;
    padding-right: 101px;
}

.footer-nav .hashtag {
    margin-top: 45px;
    font-size: 21px;
}

.footer-nav .social {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 150px;
    margin-top: 36px;
    padding-left: 35px;
    list-style: none;
}

.social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
    background-color: #669ec0;
}

.social-button:active {
    background-color: #5496bd;
}

.social-button:active path {
    fill: rgba(255, 255, 255, 0.3);
}

.footer-nav p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    margin-top: 35px;
}

.html-academy {
    display: block;
    width: 115px;
    height: 41px;
}

.html-academy:hover path,
.html-academy:focus path {
    fill: #81b3d2;
}

.html-academy:active path {
    fill: #bdbbbc;
}

.search-wrap {
    position: relative;
}

@keyframes show {
    0% {
        transform-origin: top;
        transform: scaleY(0.01);
  }

    100% {
        transform-origin: top;
        transform: scaleY(1);
  }
}

.popup-search {
    display: none;
    z-index: 2;
    position: absolute;
    left: 316px;
    width: 458px;
    height: 340px;
    padding-top: 55px;
    padding-left: 57px;
    padding-right: 55px;
    font-weight: bold;
}

.popup-show {
    display: block;
    animation: show 1s;
}

.popup-search form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.popup-search p {
    margin: 0 0 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.popup-search .together {
    display: flex;
    align-items: center;
}

.popup-search input {
    height: 36px;

    padding-left: 12px;

    font-weight: bold;
    text-transform: inherit;
    background-color: #f2f2f2;
    border: none;
}

.popup-date {
    width: 297px;
}

.popup-number {
    width: 25px;
}

.popup-search input:hover {
    background-color: #ebebeb;
}

.popup-search input:focus{
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
}

.popup-search .plus,
.popup-search .minus,
.popup-search .calendar {
    width: 38px;
    height: 38px;
    font-size: 25px;
    font-weight: bold;
    background-color: #f2f2f2;
    color: #cacaca;
    border: none;
}

.popup-search .plus:hover,
.popup-search .minus:hover,
.popup-search .plus:focus,
.popup-search .minus:focus {
    color: #000000;
}

.popup-search .plus:active,
.popup-search .minus:active {
    color: #81b3d2;
}

.popup-search .calendar path {
    fill: #cacaca;
}

.popup-search .calendar:hover path,
.popup-search .calendar:focus path {
    fill: #000000;
}

.popup-search .calendar:active path {
    fill: #81b3d2;
}

.popup-search-button {
    display: block;
    width: 456px;
    height: 58px;

    margin-bottom: 55px;
    margin-top: 23px;
    font-weight: bold;
    font-size: 21px;
    text-align: center;
    text-transform: inherit;
    color: #ffffff;
    background-color: #81b3d2;
    border: none;
}

.popup-search-button:hover,
.popup-search-button:focus {
    background-color: #669ec0;
}

.popup-search-button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

.main-menu-current a,
.main-menu-current a:hover,
.main-menu-current a:focus,
.main-menu-current a:active {
    color: #766357;
}

.filters {
    height: 190px;
    margin: 0;
    padding-top: 27px;
    padding-left: 70px;
    padding-right: 73px;
    color: #ffffff;
    background-color: #81b3d2;
    background-image: url(../img/filter-background.jpg);
    background-repeat: no-repeat;
    background-position: center 16%;
}

.filters-form {
    display: flex;
    justify-content: space-between;
}

.filters-left-part {
    display: flex;
    justify-content: space-between;
}

.infrastructure {
    width: 250px;
}

.filters-form fieldset {
    display: flex;
    flex-direction: column;
    padding: 0;
    border: none;
}

.filters-form label {
    position: relative;
    display: block;
    margin-top: 25px;
    margin-bottom: 22px;
    padding-left: 42px;

}

.infrastructure input[type="checkbox"],
.accommodation input[type="checkbox"] {
    display: none;
}

.infrastructure input[type="checkbox"] + label::before,
.accommodation input[type="checkbox"] + label::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 27px;
    height: 23px;
    margin-right: 17px;

    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;

}

.infrastructure input[type="checkbox"]:checked + label::before,
.accommodation input[type="checkbox"]:checked + label::before {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
}

.filters-form legend {
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
}

.filters-form label,
.filters-form b,
.price-range input {
    line-height: 21px;
}

.price-range {
    display: flex;
    flex-direction: column;
}

.price-control {
    position: relative;
    height: 32px;
    margin-bottom: 20px;
    font-size: 0px;
    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-control::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2px;
    height: 22px;

    background: #ffffff;
}

.price-control label {
    display: inline-block;
    margin: 0;
    width: 90px;
    font-size: 14px;
    padding-left: 60px;
    padding-right: 6px;
    padding-top: 5px;
    vertical-align: middle;
}

.price-range input {
    width: 50px;
    margin: 0;
    
    font-size: 14px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.price-range b {
    margin-bottom: 10px;
    font-size: 16px;
}

.range-control {
    position: relative;
    margin-bottom: 32px;
}

.scale {
    height: 2px;

    background: rgba(255, 255, 255, 0.3);
}

.scale-mean {
    width: 80%;
    height: 2px;

    background: #ffffff;
}

.range {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;

    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
}

.range:hover {
    background: #1c4f80;
}

.range-min {
    left: 0;
}

.range-max {
    left: 80%;
}

.price-range button {
    width: 137px;
    height: 35px;
    margin: 0 auto;
    
    font-size: 14px;

    line-height: 21px;
    text-transform: inherit;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-range button:hover,
.price-range button:focus {
    color: #000000;
    background-color: #ffffff;
}

.results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 86px;
    margin: 0;
    padding-left: 72px;
    padding-right: 73px;
    
    box-shadow: 0 1px 0 0 rgba(0, 1, 1, 0.2);
}

.results-center {
    display: flex;
    align-items: center;
    flex-grow: 1;
    line-height: 18px;
}

.results h2 {
    width: 164px;
    font-size: 21px;
    margin: 0px;
}

.results-sorting {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 40;
}

.results-sorting li {
    padding-right: 33px;
}

.results-center p {
    font-size: 12px;
    line-height: 18px;
}

.results-center a {
    font-size: 12px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dotted #81b3d2;
}

.results a:hover,
.results a:focus {
    color: #81b3d2;
}

.results a:active {
    color: #000000;
    border-bottom: none;
}

.results-current a,
.results-current a:hover,
.results-current a:focus,
.results-current a:active {
    color: #81b3d2;
    border-bottom: none;
}

.arrows {
    display: flex;
    justify-content: space-between;
    width: 32px;
    list-style: none;
}

.arrows path {
    fill: #cacaca;
}

.arrows a:hover path,
.arrows a:focus path {
    fill: #000000;
}

.arrows a:active path {
    fill: #81b3d2;
}

.hotels-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}

.hotels-list .hotel {
    display: flex;
    flex-wrap: wrap;

    height: 91px;
    
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 72px;
    padding-right: 71px;
    box-shadow: 0 1px 0 0 rgba(0, 1, 1, 0.2);  
}

.hotels-foto {
    max-height: 90px;
}

.hotel-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    flex-grow: 1;
    max-height: 90px;
    
    margin-left: 30px;   
}

.wrap {
    padding-top: 12px;
    display: flex;
    flex-grow: 1;
}

.hotel-more {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-book {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotels-list-rating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    max-height: 90px;
}

.stars {
    display: flex;
    list-style: none;
}

.hotel-rating {
    width: 110px;
    height: 27px;
    text-align: center;
    color: #666666;
    background-color: #f2f2f2;
}

.stars li {
    height: 17px;
    width: 18px;
    margin-left: 6px;
    background-image: url("../img/star.svg");
    background-repeat: no-repeat;
}


.hotels-list h3 {
    margin: 0;
    padding: 0;
    line-height: 16px;
    font-size: 21px;
}

.hotels-name {
    color: #000000;
}

.hotels-name:hover,
.hotels-name:focus {
    color: #81b3d2;
}

.hotels-name:active {
    color: rgba(0, 0, 0, 0.3);
}

.wrap span {
    color: #333333;
}

.button-more {
    width: 110px;
    height: 27px;
    text-align: center;
   
    margin-right: 6px;

    line-height: 27px; /*21px*/
    font-weight: bold;
    color: #ffffff;
    background-color: #81b3d2;
}

.button-more:hover,
.button-more:focus {
    background-color: #669ec0;
}

.button-more:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

.button-book {
    width: 142px;
    height: 27px;
    text-align: center;
    
    line-height: 27px;  /*21px*/
    font-weight: bold;
    color: #ffffff;
    background-color: #766357;
}

.button-book:hover,
.button-book:focus {
    background-color: #604e43;
}

.button-book:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}

    /*    background: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 45, 82);*/
